a{
    color: #e0e0e0;
}

a:visited{
    color: #8f8e8e;
}
a:hover{
    color: #eeeeee;
}
a:active{
    color: #9f5904;
}
.grid-container{
    display: grid;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
    grid-gap: 0.1em;
    border-radius: 10px;
}
.element{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
}
.center-content{
    text-align: center;
    align-content: center;
}
.content_box{
    padding: 10px;
    margin-top: 10px;
    margin-right: fill;
    margin-left: fill;
    text-align: center;
}

body{
    background-color: black;
    color: #e0e0e0;
    font-family: Roboto;
    font-size: 100%;
}
h1{
    font-family: Poppins;
}
.logolink{
    color: orange;
    font-size: 200%;
    font-size: 1rem;
}
.logolink .h1:hover{
    background-color: darkorange;
}
.navbarlink{
    color: #e0e0e0;
    font-family: "Open Sans";
    padding: 0.25rem 1rem;
    font-size: 1em;
}
.navbarlink:hover{
    background-color: #e0e0e0;
    color: black;
}
.post-card{
    background-color: #4f0202;
    padding: 2em;
    margin: 2em;
    text-align: revert;
    align-content: revert;

}
.comment-card{
    background-color: #4f0202;
    padding: 2em;
    margin: 2em;
}
.comment-card .byline{
    font-size: 0.8em;
    font-style: italic;
}

.post-card > metadata{
    text-align: left;
}
.post-card > h1{
    text-align: left;
}

.post-card .byline{
    text-align: left;
    font-family: Roboto;
    display: inline;
    font-size: 0.8rem;
    font-style: italic ;
}
