{% extends 'base.html' %}
{% block title %}{{ object.title }} - CheeseBlog{% endblock %}

{% block body %}
    <div>
        <div class="post-card">
            <div class="metadata">
                <h1>{{ object.title }}</h1>
                <span class="byline">Written by {{ object.author }}, at {{ object.created_on }} UTC<br>Last updated on {{ object.updated_on }} UTC</span>
            </div>
            <div class="post-content">
                <p>{{ object.content|linebreaks }}</p>
            </div>
        </div>
        <div class="center-content">
            {% if request.user == object.author %}
                <a href="/my"><button>Go to my dashboard</button></a>
                <a href="/delete/{{ object.pk }}"><button>Delete</button></a>
                <a href="/edit/{{ object.pk }}"><button>Edit</button></a>
            {% endif %}
            <hr>
        <h3>Comments</h3>
            {% if object.comments %}
                {% for comment in object.comments.all %}
                    <i>{{ comment.author }} at {{ comment.created_date }} UTC says </i>
                    <p>{{ comment.text|linebreaks }}</p>
                {% endfor %}
            {% else %}
            <p>No comments so far!</p>
            {% endif %}
            <hr>
            <a href="/"><button>Go home</button></a>
        </div>
    </div>
{% endblock %}