{% extends 'base.html' %}
{% block title %}{{ blog.title }} - CheeseBlog{% endblock %}

{% block body %}
    <div>
        <div class="post-card">
            <div class="metadata">
                <h1>{{ blog.title }}</h1>
                <span class="byline">Written by {{ blog.author }}, at {{ blog.created_on }} UTC<br>Last updated on {{ blog.updated_on }} UTC</span>
            </div>
            <div class="post-content">
                <p>{{ blog.content|linebreaks }}</p>
            </div>
        </div><div class="post-card">
            {{ comments }}
        </div>
        <div class="center-content">
            <a href="/"><button>Go home</button></a>
        </div>
    </div>
{% endblock %}