{% extends 'base.html' %}
{% block title %}
    CheeseBlog
{% endblock %}
{% block body %}
    <div class="center-content">
        <h2>
            Welcome to the CheeseBlog!
        </h2>
        {% if posts %}
            {% for post in posts %}
                <div class="post-card">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <span>by {{ post.author }} on {{ post.created_on }}</span>
                </div>
            {% endfor %}
            You have seen all posts!<br>
            Why not <a href="/newblog">create one of your own?</a>
        {% else %}
            No posts so far!<br>
            Why not <a href="/newblog">create one of your own?</a>
        {% endif %}
    </div>
{% endblock %}