{% extends 'base.html' %}
{% block title %}New Blog Post{% endblock %}
{% block body %}
    <div class="center-content">
    <form method="post">
        {% csrf_token %}
        {% if blog %}
            For now, if you are editing a blog post, you MUST change the slug to something else (you can change it back later :D)
        {% endif %}
        <table style="margin-left: auto; margin-right: auto">
            <tr>
                <td>Title</td>
                <td>:</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>Content</td>
                <td>:</td>
                <td>{{ form.content }}</td>
            </tr>
            <tr>
                <td>Choose your slug!</td>
                <td>:</td>
                <td>{{ form.slug }}</td>
            </tr>
            <tr>
                <td colspan="3">You can make a custom slug here (Alphanumeric and dashes'-' only, please!</td>
            </tr>
            {% if form.errors %}
                {% for error in form.errors %}
                    <th colspan="3">{{ error }} is invalid!</th>
                {% endfor %}
            {% endif %}
        </table>
        <button type="submit">Send!</button>
    </form>
    </div>
{% endblock %}